{% extends 'layout.html' %}
{% block body %}
    <h1>Our Purpose</h1>
    <p>Our purpose is to bring the world within reach. </p>
    <h1>Our Principles</h1>
    <p>1)We are Customer Centric. <br/>
    2)We will Attract and Engage the world of travel suppliers.<br/>
    3)We will continously improve our platform with Data and Tech.<br/>
4)Put yourself in the shoes of our customers and partners. <br/> 5)Think Big and Small .<br/> 6) Simplify .<br/> 7) Be Humble. <br/>8)Be Positive! Assume Positive Intent. </p>

{% endblock %}