<header id="fh5co-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
            <h1 id="fh5co-logo"><a href="index"><i class="icon-airplane"></i>TravelEasy</a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
                <ul class="sf-menu" id="fh5co-primary-menu">

                    {% if session.logged_in %}

                    <li class="active"><a href="index">Home</a></li>

                    <li><a href="blog">Blog</a></li>
                    <li><a href="flightStatus">Check Status</a></li>
                    <li><a href="pastorders">Order History</a></li>
                    <li><a id="checkout" href="logout">logout</a></li>
                    <li><a><span class="glyphicon glyphicon-user"></a></span>
                        <ul class="fh5co-sub-menu">
                            <li><span style="color:red">Welcome {{session.username}}</span></li>
                            <li><span >Total Miles {{session.miles}}</span></li>
                        </ul>
                    </li>

                    {% else %}
                    <li class="active"><a href="index">Home</a></li>
                    <li><a href="flightStatus">Check Status</a></li>
                    <li><a href="register">Register/Login</a></li>

                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>