{% extends 'layout.html' %}
{%block body %}


<div id="fh5co-car" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h2>Order Summary</h2>
                <p>Thank you for your purchase. Here is your order number #{{orderid}}</p>
                <p>Please save this order number for future use. </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}