{% extends 'layout.html' %}
{%block body %}


<div id="fh5co-car" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h2>Unable To Process Your Order</h2>
                <p>The miles that you have {{miles}} are not sufficient for this purchase</p>
                <p>For international flight you need 50,000 and for domestic flight you need 25,000</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}